*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all 0.5s ease;
    background-color: #444;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}


.animate__lightSpeedInLeft {
    animation-delay: 1s;
}